.content {
    .top {
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid;
        background: #3B8CBB;
        .left{
            float: left;
            height: 60px;
            i {
               font-size: 28px;
               color: #fff;
               float: left;
               padding: 15px;
            }

            span {
               color: #fff;
               font-size: 18px;
                b {
                    color: #ff5001;
                    margin-left: 3px;
                }
            }

        }
        .right{
            float:right ;
            margin-right: 20px;
            .el-dropdown-link {
                cursor: pointer;
                color: #ff5001;
            }
            .el-icon-arrow-down {
                font-size: 12px;
            }

        }
       
    }
    .nav{
        padding-left:10px;
        height: 40px;
        line-height: 40px ;
        position: relative ;
        span{
            margin:0 5px;
            font-size: 16px;
        }
        p{
            display: inline-block ;
        }
        .back{
            position:absolute ;
            right: 10px;
            cursor: pointer;
            i{
                font-size: 28px;
                padding-top: 5px;
            }
        }
        b{
            font-size: 16px;

        }
        
    }
}

